services:
  gamify:
    image: guizmos/gamify:latest
    container_name: GAMIFY
    environment:
      - GAMES_ROOT=/games
      - DATA_DIR=/data

      - DB_PATH=/data/gamify.sqlite

      - JWT_SECRET=${JWT_SECRET:-change_me_dev_only}

      - ADMIN_BOOTSTRAP_USER=${ADMIN_BOOTSTRAP_USER:-admin}
      - ADMIN_BOOTSTRAP_PASS=${ADMIN_BOOTSTRAP_PASS:-changeme}

      - IGDB_CLIENT_ID=IGDBCLIENTID
      - IGDB_CLIENT_SECRET=IGDBCLIENTSECRET

    ports:
      - "7071:8080"

    volumes:
      - /volume1/Docker/Gamify/data:/data
      - /volume1/Jeux:/games:ro
      
    restart: unless-stopped
